/* Created by: MariaG
* Created on: May 19, 2022
* This CSS file defines the style for index.php
* ICS2O-Unit5-02-PHP-ProductOfNumbers
*/

body {
  width: 80%;
  margin: 5% 10%;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  padding: 30px;
  background-color: #772395;
  text-align: center;
  color: white;
}

#pink {
  padding: 20px 30px;
  background-color: #fcddf1;
}

iframe {
  border: none;
  padding: 20px 30px;
  height: 50px;
}

#yellow {
  background-color: #fcfc96;
  margin-top: 30px;
}

#styled-button {
  border: none;
  color: white;
  background-color: #0f2a80;
  padding: 10px;
}
